*
	margin 0
	padding 0
	box-sizing border-box
	
@font-face
	font-family DSDig
	font-style normal
	src url(./fonts/DSDig/DS-Digital.ttf)
	src url(./fonts/DSDig/DS-Digital.eot)
	src url(./fonts/DSDig/DS-Digital.woff)
@font-face
	font-family DSDig
	font-style bold
	src url(./fonts/DSDig/DS-Digital-Bold.ttf)
	src url(./fonts/DSDig/DS-Digital-Bold.eot)
	src url(./fonts/DSDig/DS-Digital-Bold.woff)


.wrapper__clock
	display inline-block
	margin-left 50%
	margin-top 50px
	transform translateX(-50%)
	position relative
	.clock__arrow
		z-index 1
		position absolute
		top: 50%
		left 50%
		width 20px
		height 20px
		img
			max-width none 
	.clock__arrow_minute
		transform: translate(-50%, -50%)  rotate(0deg)
		transform-origin: top;
		img
			position: relative;
			left 50%
			top 100%
			transform: translate(-50%, -100%)
	.clock__arrow_hours
		transform: translate(-50%, -50%)  rotate(0deg)
		transform-origin: top;
		img
			position: relative;
			left 50%
			top 100%
			transform: translate(-50%, -100%)
	
	.phrases
		position absolute
		left 50%
		top 50%
		transform: translate(-50%, -50%)
		display flex
		align-items center
		justify-content center
		.phrase
			width 1px
			height 1px
			position absolute
			cursor pointer
			left 0px
			top -10px
			transform-origin: bottom center;
			color: #eaeaea;
			text-transform: uppercase;
			font-weight bold
			font-size 10px
			transition: color .5s ease
			&:hover
				color: red
				font-size 10px
				font-weight bold
			> span 
				width 0
				transform-origin: bottom ;
				position absolute
				bottom 0
				height: 165px;
			&:nth-child(1)
				transform: rotate(285deg)
			&:nth-child(2)
				transform: rotate(10deg)
			&:nth-child(3)
				transform: rotate(185deg)
			&:nth-child(4)
				transform: rotate(120deg)
			&:nth-child(5)
				transform: rotate(70deg)
			for num in (0..30)
				.symbol{num}
					transform: "rotate(%sdeg)" % (num*3.4)
	
	.clock__timeZone
		position absolute
		left 27%
		bottom 42%
		font bold 24px DSDig
		color: white
	.clock__time
		display flex
		align-items center
		position absolute
		left 50%
		transform translateX(-50%)
		bottom: 28%
		font bold 70px DSDig
		color: white
		b
			font-size 40px
			margin 0 5px
			animation: tick  1.5s infinite linear;


@keyframes tick
	0%{
		opacity 1
	}
	50%{
		opacity 0.4
	}
	100%{
		opacity 1
	}